<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic Tac Toe</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  </head>
  <body>
    <div id="root" class="container-fluid">

      <div id="header" class="container-fluid">
          <h3>Table id </h3>
          <h4>Player1 name</h4>
          <h4>Player2 name</h4>
      </div>

      <div id="field"></div>
      
    </div>
  </body>
  <script src="static/js/main.js"></script>
</html>