<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
    <div id='main' class="container-fluid">
        <h1>Tic Tac Toe</h1>
        <form style="padding-left: 150px;" id = 'join'>
            <h3>Join</h3>
            <div class="form-group">
                <label for="join">Your name</label>
                <input class="form-control">
            </div>
            <button type="button" class="btn btn-primary" onclick="joinCookie()">Join Game</button>
        </form>
        <form style="float:right; padding-right: 150px;" id ='admin'>
            <h3>New game</h3>
                <div class="form-group">
                    <label for="admin">Your name</label>
                    <input class="form-control">
                </div>

                <div class="form-group">
                        <label for="exampleFormControlSelect1">Select field size</label>
                        <select class="form-control" id="table_size">
                        <option>3x3</option>
                        <option>4x4</option>
                        <option>5x5</option>
                        <option>6x6</option>
                        </select>
                </div>
                <button type="button" class="btn btn-success" onclick="adminCookie()">Create table</button>
        </form>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Player1</th>
                    <th scope="col">Player2</th>
                    <th scope="col">Table size</th>
                    <th scope="col">Winner</th>
                </tr>
            </thead>
            <!-- <tbody>
                {% for game in latest %}
                    <tr onclick="replayCookie(this)">
                        <td class="date">{{game.date}}</td>
                        <td>{{game.player1}}</td>
                        <td>{{game.player2}}</td>
                        <td>{{game.size}}x{{game.size}}</td>
                        <td>{{game.winner}}</td>
                    </tr>
                {% endfor %}
            </tbody> -->
        </table>
    </div>
    <script src="static/js/login.js"></script>
</body>
</html>